@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	
}

.top-of-page {
	padding-top: 4em;
}

table {
	font-family: icomoon;
	font-size: 3em;
		
}
 

.table-bordered td {
	width: 60px;
	height: 60px;
    
    overflow: hidden;
	/*display: inline-block;*/   
	/* white-space: nowrap;*/

	text-align: center;
	
}

