@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	
}

.top-of-page {
	padding-top: 5em;
	text-align: center;
}

.message-area {
	height: 5.5em;
	text-align: center;
	padding-top: 3em;
	margin-bottom: -.25em;
}

.message-area .inner {
	height: 3em;
	position: relative;
	margin-bottom: -.5em;
}

.message {
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}


.begin-btn {
	margin-bottom: .25em;
}

table {
	font-family: icomoon;
	font-size: 290%;
	margin: 0 auto;
	float: left;
}


@media (max-width: 767px) {
	table {
		font-size: 190%; 
	}
}

.table-bordered td {
	width: 1.5em;
	height: 1.5em;
    overflow: hidden;
	text-align: center;
}

.number {
	font-size: .30em;
	position: absolute;
}

.mind-connection-status {
	width: 1em;
	height: 1em;
	font-size: 250%;
	position: relative;
	margin: 0 auto;
	margin-bottom: .15em;
	text-align: center;
}

.mind-connection-status .glyphicon-user {
	position: absolute;
	margin: 0 auto;
	top: 0;
	left: 0;
}

.mind-connection-status .glyphicon-exclamation-sign {
	font-size: .25em;
	position: absolute;
	top: .5em;
	left: 1.5em;
	color: red;
}

.mind-connection-status .glyphicon-eye-open {
	font-size: .25em;
	position: absolute;
	top: .5em;
	left: 1.5em;
	color: steelblue;
}

.modal-dialog {
	margin-top: 10%;
}

